@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;700&family=Lexend+Deca:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #efd5d5;
}

nav{
    background-color: hsl(184, 100%, 22%);
    font-size: 30px;
    padding: 20px 30px;
    border-bottom: 3px solid hsl(31, 77%, 52%);
}

nav a{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

nav a:hover{
    color: hsl(31, 77%, 52%);
}

.border_right{
    border-right: 3px solid #efd5d5;
    padding-right: 10px;
}

.grid_container{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 40% 10% 30%;
    grid-template-rows: 20% 20% 20% 25%;
    height: 80vh;
    gap: 15px;
    justify-content: center;
    align-content: center;
}

.grid_item{
    text-align: center;
}

.orange{
    background-color: rgb(228, 84, 32);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}    

.yellow{
    background-color: rgb(255, 191, 0);
    grid-column: 3;
    grid-row: 1  / span 2;
}

.green{
    background-color: rgb(29, 156, 29);
    grid-column: 1;
    grid-row: 3 / span 2;

}

.first_blue{
    background-color: rgb(120, 180, 231);
    grid-column: 2 / span 2;
    grid-row: 3;
}

.second_blue{
    background-color: rgb(120, 180, 231);grid-column: 2 / span 2;
    grid-row: 4;

}