@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;700&family=Lexend+Deca:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fdfdfd;
}


/*******Navbar*******/

nav{
    background-color: hsl(184, 100%, 22%);
    font-size: 30px;
    padding: 20px 30px;
    border-bottom: 3px solid hsl(31, 77%, 52%);
}

nav a{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

nav a:hover{
    color: hsl(31, 77%, 52%);
}

.border_right{
    border-right: 3px solid #efd5d5;
    padding-right: 10px;
}

/*******Main*******/

main{
    height: 65vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}


/*****Content body*****/

#orange{
    background-color: hsl(31, 77%, 52%);
    padding: 50px 70px 0 50px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

#dark_cyan{
    background-color: hsl(184, 100%, 22%);
    padding: 50px 70px 0 50px;
    height: 100%;
    
}

#very_dark_cyan{
    background-color: hsl(179, 100%, 13%);
    padding: 50px 70px 0 50px;
    height: 100%;
    border-radius: 0 5px 5px 0;
}


/*******Content*******/

h2{
     padding: 30px 0;
     font-family: 'Big Shoulders Display', cursive;
     font-weight: 700;
     font-size: 35px;
     color: hsla(0, 0%, 100%, 0.75);
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    padding-bottom: 50px;
}


/*********Button*********/

button{
    padding: 15px 35px;
    font-size: 16px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    border-radius: 30px;
    border: none;
}

#orange button{
    color: hsl(31, 77%, 52%);
}

#dark_cyan button{
    color: hsl(184, 100%, 22%);
}

#very_dark_cyan button{
    color: hsl(179, 100%, 13%);
}


/**********Hover*********/

#orange button:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsla(0, 0%, 100%, 0.75);
}

#dark_cyan button:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsla(0, 0%, 100%, 0.75);
}

#very_dark_cyan button:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsla(0, 0%, 100%, 0.75);
}


/********Media query*******/

@media only screen and (max-width: 840px){
    main{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        padding-bottom: 50px;
    }

    #orange{
        border-radius: 5px 5px 0 0;
    }

    #very_dark_cyan{
        border-radius: 0 0 5px 5px;
    }

    button{
        margin-bottom: 50px;
    }

    .cards{
        width: 100%;
    }
} 